<div class="nav-wrapper sub">
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="site-header">
                <div class="navbar">
                    <div class="navbar-inner">
                        <a class="btn btn-navbar" data-target="#subnav" data-toggle="collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <div class="nav-collapse collapse" id="subnav">
                            <ul class="nav pull-right">
                                <li><a {% if name contains '/historic' %}class="active"{% endif %} href="{{ site.baseurl }}/compliance/historic/">Historic Preservation</a></li>
                                <li><a {% if name contains '/environmental' %}class="active"{% endif %} href="{{ site.baseurl }}/compliance/environmental">Environmental</a></li>
                                <li><a {% if name contains '/rf-safety' %}class="active"{% endif %} href="{{ site.baseurl }}/compliance/rf-safety">Radio Frequency Safety</a></li>
                                <li><a {% if name contains '/asr-and-faa' %}class="active"{% endif %} href="{{ site.baseurl }}/compliance/asr-and-faa">ASR & the FAA</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>